/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-easy-image-gallery-block  {
  background: $green;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;  
}
img.gallery-item {
  object-fit: cover;
  width: 150px;
  height: 150px; 
}
.gallery-item-container {
  display: inline-block; 
  flex-basis: 150px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  position: relative;
}
@media (max-width: 600px) {
  .gallery-item-container {
    flex-basis: calc(100% / 2);
  }
}
@media (max-width: 400px) {
  .image-gallery {
    justify-content: center;
  }
  .gallery-item-container {
    flex: 0 0 100%;
  }
}

.remove-item {
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  color: #5f5f5f;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s ease;
  cursor: pointer;

  &:hover {
    color: #333;
  }
}